.container{
    background-color: #a52a2a;
    height: 600px;
    border: 3px solid black;
    display: grid;

    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns:  150px 1fr 1fr 150px ;

    
    grid-template-rows: 30px 1fr 30px;
    /* use fr to make responsive grid -- use fr */
    gap: 3px;
}
.box{
    background-color: aqua;
    border:3px solid black;
    /* width: 80px; */
    /* height: 80px; */
}
#Box1 , #Box4{
    /* grid Item properties */
    grid-column-start: 1;
    grid-column-end: 5;

}
#Box3{
    grid-column-start: 2;
    grid-column-end: 4;
}
